# Don't push any gromacs/ plumed output #
#########################################
*.gro
*.top
*.xtc
*.tpr
*.cpt
*.edr
*.dat
*.itp
*.top
*.trr
*.log
*#
*mdout.mdp

# Avoid pushing the result of analysis on output#
################################################
*.png
*.cda
*.lis
*.cdi
*.ser
bck.*
